.carousel-caption {
    background-color: rgba(0, 0, 0, .7);
    color:#c5b358;
    bottom:50%;
}

.form-group {
    margin-top: 2%;
}

.input-label {
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
}

.seed-text-box {
    width: 100%;
}

.slider {
    width: 100%;
}

.subtext {
    font-size: 80%;
}

.genButton {
    margin-top: 5%;
    background-color: black;
    color: #c5b358;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.genButton:hover {
    color: #c5b358;
    background-color: black;
    border-color: #c5b358;
}

.spinner-size {
    width: 2rem;
    height: 2rem;
}

.generated-lyrics {
    line-height: 1.7em;
    padding: .2em 0;
    text-decoration: none;
    font-size: 1.125rem;
    margin-top: 1.5rem;
    font-weight: 100;
    font-family: Programme,sans-serif;
}

.warning {
    color: red;
    margin-top: 1rem;
}