<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
        <title>AI DRAKE</title>
      </head>
      <body>
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
                <div class="carousel-caption text-center">
                    <h1 class="display-4">AI DRAKE</h1>
                    <p>Generate lyrics based on a deep learning network that was trained over
                    Drake lyrics.</p>
                  </div>
                {% block content %}
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/stylized-image.jpg')}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="{{ url_for('static', filename='images/stylized-image-2.jpg')}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="{{ url_for('static', filename='images/stylized-image-3.jpg')}}" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                {% endblock %}
            </div>
        </div>
      </div>
        <form method="POST" id="user-input">
            <div class="container">
                <div class="row">
                    <div class="col-2 input-label">Seed Text</div>
                    <div class="col-10"><textarea class="input-box" name="seed"
                                                  maxlength="1000" cols="40" rows="5"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-2 input-label">Number of Words to Generate</div>
                    <div class="col-3"><input type="number" name="count" max="1000" min="0" style="width: 25%;"></div>
                    <div class="col-2"><p class="input-label">Temperature</p><p class="subtext">High Temp = More Stochastic<br>
                        Low Temp = More Predictable</p></div>
                    <div class="col-5">
                        <div class="slidecontainer">
                            <input type="range" min=".1" max="2" step= ".05" value="1" class="slider"
                                   id="myRange" oninput="sliderValue.value=myRange.value">
                            <span class="slider-value"><input id="sliderValue" type="number" value="1"
                                                              min=".1" max="2" step= ".05" style="width: 15%;"
                                                              oninput="myRange.value=sliderValue.value" name="temp"></span>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center"><button class="genButton" type="submit">Generate</button></div>
                </div>
            </div>
        </form>
      <script type="text/javascript" src="{{ url_for('static', filename='js/actions.js')}}"></script>
        <div class="container">
            <div class="row">
                <div class="col">Generated Text:</div>
            </div>
            <div class="row">
                <div class="col">
                    {% autoescape false %}
                    <p>{{ generated_text }}</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
      </body>
</html>