<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">

    
        <title>AI DRAKE</title>
      </head>
      <body>
      <div class="container-fluid">
          <div class="row">
                    <div class="col-lg-12">
                        {% block content %}
                        <img src="{{ url_for('static', filename='images/stylized-image.png')}}">
                        <p>AI DRAKE</p>
                        {% endblock %}
                    </div>
                </div>
      </div>
        <form method="POST">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1">Seed Text</div>
                    <div class="col-11"><input type="text" name="seed"></div>
                </div>
                <div class="row">
                    <div class="col-1">Word Count</div>
                    <div class="col-11"><input type="number" name="count"></div>
                </div>
                <div class="row">
                    <div class="col-1">Temperature</div>
                    <div class="col-11">
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" class="slider"
                                   id="myRange" name="temp">
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col"><button type="submit">Generate</button>
                    </div>
                </div>
    <!--            <div class="row">-->
    <!--                <div class="col">{{generated_text}}</div>-->
    <!--            </div>-->
            </div>
        </form>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
      </body>
</html>